<div *ngIf="data; else noData">
    <h1>{{ data.title }}</h1>
    <div class="content">
        <mat-grid-list cols="4" rowHeight="25px" gutterSize="16px">
            <!-- Base Data -->
            <mat-grid-tile colspan="4">
                <h2>Base Data</h2>
            </mat-grid-tile>
            <mat-grid-tile>
                <p><strong>Title:</strong></p>
            </mat-grid-tile>
            
            <mat-grid-tile colspan="3">
                <p>{{ data.title }}</p>
            </mat-grid-tile>
            <mat-grid-tile>
                <p><strong>Subtitle:</strong></p>
            </mat-grid-tile>
            
            <mat-grid-tile colspan="3">
                <p>{{ data.subtitle }}</p>
            </mat-grid-tile>
            <mat-grid-tile>
                <p><strong>Composer:</strong></p>
            </mat-grid-tile>
            
            <mat-grid-tile>
                <p>{{ data.composer?.name }}</p>
            </mat-grid-tile>
            <mat-grid-tile>
                <p><strong>Arranger:</strong></p>
            </mat-grid-tile>
            <mat-grid-tile>
                <p>{{ data.arranger?.name }}</p>
            </mat-grid-tile>
            
            <mat-grid-tile>
                <p><strong>Publisher:</strong></p>
            </mat-grid-tile>
            <mat-grid-tile>
                <p>{{ data.publisher }}</p>
            </mat-grid-tile>
            <mat-grid-tile>
                <p><strong>Publisher IPI:</strong></p>
            </mat-grid-tile>
            <mat-grid-tile>
                <p>{{ data.publisherIpi }}</p>
            </mat-grid-tile>
            
            <mat-grid-tile>
                <p><strong>Genre:</strong></p>
            </mat-grid-tile>
            <mat-grid-tile>
                <p>{{ data.genre }}</p>
            </mat-grid-tile>
            <mat-grid-tile>
                <p><strong>Year of Composition:</strong></p>
            </mat-grid-tile>
            <mat-grid-tile>
                <p>{{ data.yearOfComposition }}</p>
            </mat-grid-tile>

            <mat-grid-tile colspan="4">
                <mat-divider></mat-divider>
            </mat-grid-tile>

            <!-- Miscellaneous -->
            <mat-grid-tile colspan="4">
                <h2>Miscellaneous</h2>
            </mat-grid-tile>
            <mat-grid-tile>
                <p><strong>Difficulty Level:</strong></p>
            </mat-grid-tile>
            <mat-grid-tile>
                <p>{{ data.difficultyLevel }}</p>
            </mat-grid-tile>
            <mat-grid-tile>
                <p><strong>Edition:</strong></p>
            </mat-grid-tile>
            <mat-grid-tile>
                <p>{{ data.edition }}</p>
            </mat-grid-tile>
            
            <mat-grid-tile>
                <p><strong>Copyright:</strong></p>
            </mat-grid-tile>
            <mat-grid-tile>
                <p>{{ data.copyright }}</p>
            </mat-grid-tile>
            <mat-grid-tile>
                <p><strong>Rating:</strong></p>
            </mat-grid-tile>
            <mat-grid-tile>
                <p>{{ data.rating }}</p>
            </mat-grid-tile>

            <mat-grid-tile colspan="4">
                <mat-divider></mat-divider>
            </mat-grid-tile>

            <!-- Registration Data -->
            <mat-grid-tile colspan="4">
                <h2>Registration Data</h2>
            </mat-grid-tile>
            <mat-grid-tile>
                <p><strong>ISWC:</strong></p>
            </mat-grid-tile>
            <mat-grid-tile>
                <p>{{ data.iswc }}</p>
            </mat-grid-tile>
            <mat-grid-tile>
                <p><strong>GEMA Work Number:</strong></p>
            </mat-grid-tile>
            <mat-grid-tile>
                <p>{{ data.gemaWorkNumber }}</p>
            </mat-grid-tile>

            <mat-grid-tile colspan="4">
                <mat-divider></mat-divider>
            </mat-grid-tile>

            <!-- Additional Notes -->
            <mat-grid-tile colspan="4">
                <h2>Additional Notes</h2>
            </mat-grid-tile>
            <mat-grid-tile>
                <p><strong>Additional Notes:</strong></p>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
                <p>{{ data.additionalNotes }}</p>
            </mat-grid-tile>
        </mat-grid-list>

        <!-- list of instrumentations -->
        <app-instrumentation-list [instrumentationsData]="instrumentations" [editMode]="false"></app-instrumentation-list>

        <div class="action-btns">
            <button mat-raised-button color="primary" (click)="goBack()">Back</button>
        </div>
    </div>
</div>

<ng-template #noData>
    <div class="no-data">
      <h2>Data Not Found</h2>
      <p>The requested sheet music details could not be found.</p>
      <button mat-raised-button color="primary" (click)="goBack()">Back</button>
    </div>
</ng-template>