<div class="collection-detail-page">
  <p-toolbar styleClass="page-toolbar">
    <ng-template #start>
      <p-button
        icon="pi pi-arrow-left"
        [label]="t.t('collections.detail.backToList')"
        [text]="true"
        (onClick)="goBack()"
      />
    </ng-template>
    <ng-template #end>
      @if (collection()) {
        <p-button
          icon="pi pi-pencil"
          [label]="t.t('collections.edit')"
          [text]="true"
          (onClick)="openEdit()"
        />
      }
    </ng-template>
  </p-toolbar>

  @if (collection(); as col) {
    <div class="detail-header">
      <div class="detail-title-row">
        <h1>{{ col.name }}</h1>
        @if (col.type) {
          <p-tag [value]="'collections.types.' + col.type | translate" severity="secondary" />
        }
      </div>
      @if (col.description) {
        <p class="detail-description">{{ col.description }}</p>
      }
      @if (col.date) {
        <span class="collection-date">
          <i class="pi pi-calendar"></i> {{ formatDate(col.date) }}
        </span>
      }
    </div>

    <div class="collection-actions">
      <span class="actions-label">{{ 'collections.detail.actions.label' | translate }}</span>
      <p-button
        icon="pi pi-file-export"
        [label]="t.t('collections.detail.actions.generateToc')"
        severity="secondary"
        [outlined]="true"
        size="small"
        (onClick)="generateToc()"
      />
      <p-splitButton
        icon="pi pi-download"
        [label]="t.t('collections.export.zip')"
        [model]="exportMenuItems"
        severity="secondary"
        [outlined]="true"
        size="small"
        (onClick)="exportCollection('ZIP')"
      />
    </div>

    <app-collection-sheets [collectionId]="collectionId()" />
  }
</div>

<p-dialog
  [header]="t.t('collections.edit')"
  [(visible)]="editDialogVisible"
  [modal]="true"
  [style]="{ width: '32rem' }"
>
  @if (editDialogVisible) {
    <app-collection-form
      [collection]="collection()"
      (saved)="onEditSaved()"
      (cancelled)="editDialogVisible = false"
    />
  }
</p-dialog>
